.header{
            padding: 30px;
            background-color: #CCC;
            color: #FFF;
        }
        .menu{
            background-color: #333;
            color: #FFF;
        }
        .menu ul li{
            float: left;
            padding: 6px 7px;
        }
        .menu ul{
            list-style-type: none;
        }
        .menu ul li:hover{
            background-color: #CCC;
            color: #000;
        }
        .menu:after{
            clear: both;
            display: table;
            content: "";
        }