<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% extends 'polls/base.html' %}
  {% block content %}
    {% if question %}
    <h1>{{question.question_text}}</h1>
  <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <ol>
        {%for item in question.choice_set.all %}
            <li><input type="radio" value = "{{item.id}}" name="choice">{{item.choice_text}}</li>
        {% endfor %}
     <p><input type="submit" value="Submit">
     </p>
    </ol>
  </form>
    {% else %}
        <h3 style="color: red;">Khong co du lieu cau hoi nao!!!</h3>
    {% endif %}
  {% endblock %}
</body>
</html>