<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QUESTION DETAILS</title>
</head>
<body>
{% extends 'polls/base.html' %}
{% block content %}
{% if question %}
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1> {{ question.question_text }} </h1></legend>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        {% for item in question.choice_set.all %}
        <input type="radio" value="{{item.id}}" name="choice" id="choice{{forloop.counter}}">
        <label for="choice{{forloop.counter}}">{{ item.choice_text }}</label>
        <br>
        {% endfor %}
        <p><input type="submit" value="Submit"></p>
    </fieldset>
</form>
{% else %}
    <h3>Khong co du lieu cau hoi nao!!!</h3>
{% endif %}
{% endblock %}
</body>
</html>