<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INFORMATION INDEX</title>
</head>
<body>
    {% extends 'polls/base.html' %}

    {% block content %}
        <h1>Đây là template</h1>
        <p>Mình là <b>{{name}}</b> </p>
        <h2>Tài sản của mình gồm: </h2>
        <h2>Tài sản của mình gồm: </h2>
        <ul>
        {% for item in taisan %}
                {% if item != 'vo' %}
                    <li>{{item}}</li>
                {% endif %}
        {% endfor %}
        </ul>

    {% endblock %}
</body>
</html>