<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <style>
        .login{
            text-align : center;
            border: 3px solid green;
        }
    </style>
</head>
<body>
<div class="login">
    <form action="{% url 'Login:login' %}" method="post">
        {% csrf_token %}
        <div>Username: <input type="text" name="username"></div>
        <div>Password:<input type="password" name="password"></div>
        <div><input type="submit" value="Dang Nhap"></div>
    </form>
</div>
</body>
</html>